.title-link {
    outline: none;
    text-decoration: none;
    color:red;
}

/* unvisited link */
.title-link:link {
    outline: none;
    text-decoration: none;
    color: red;
}

/* mouse over link */
.title-link:hover {
    outline: none;
    text-decoration: none;
    color: rgba(207, 0, 0, 0.74);
}

/* selected link */
.title-link:active {
    outline: none;
    text-decoration: none;
    color: rgba(255, 2, 2, 0.418);
}

.img-icon{
    width: 200px;
    height: 150px;
}
 @media (max-width: 600px) {
    .img-icon{
        width:100%;
    }
}